<footer id="dark-footer" class="footer" data-aos="fade-up" data-aos-delay="100">
    <div class="container">

        <nav class="social-links">
            <a href="mailto:paul@atreides.com" class="level-item">
                <i class="fas fa-at" role="img"></i>
            </a>
            <a href="https://gitlab.com/atreides" class="level-item">
                <i class="fab fa-gitlab" role="img">gitlab</i>
            </a>
            <a href="https://github.com/atreides" class="level-item">
                <i class="fab fa-github" role="img">github</i>
            </a>
            <a href="https://keybase.io/atreides" class="level-item">
                <i class="fab fa-keybase" role="img">keybase</i>
            </a>
            <a href="https://www.facebook.com/atreides_mining_com" class="level-item">
                <i class="fab fa-facebook" role="img">facebook</i>
            </a>
            <a href="https://twitter.com/atreides_mining" class="level-item">
                <i class="fab fa-twitter" role="img">twitter</i>
            </a>
            <a href="https://www.linkedin.com/company/atreides_mining/about/" class="level-item">
                <i class="fab fa-linkedin" role="img">linkedin</i>
            </a>
        </nav>

        <div class="footer-about">
            <a href="#">Atreides Mining, Inc.</a> is a public trading company established on Caladan
            <br>

            &copy; 2019 Atreides Mining, Inc . All rights reserved
            <br>

            <a href="/privacy.html">Privacy policy</a>

        </div>


    </div>

</footer>

<script type="application/javascript" src="/js/aos.js"></script>
<script type="application/javascript" src="/js/site.js"></script>
<script type="application/javascript" src="/js/three.r92.min.js"></script>
<script type="application/javascript" src="/js/vanta.fog.min.js"></script>
<script type="application/javascript" src="/js/vanta.waves.min.js"></script>

<script type="application/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        site.init();
        setTimeout(function () {
            if(document.querySelectorAll('.fog').length > 0)
            VANTA.FOG({
                el: ".fog",
                highlightColor: 0xff69,
                midtoneColor: 0x914c,
                lowlightColor: 0xc2ff,
                baseColor: 0x626bb,
                blurFactor: 0.70,
                speed: 3.00,
                zoom: 0.50
            })
        }, 300);
        if(document.querySelectorAll('.fog2').length > 0)
        VANTA.FOG({
            el: ".fog2",
            highlightColor: 0x27a43d,
            midtoneColor: 0x97c5,
            lowlightColor: 0xf0ff,
            baseColor: 0x237244,
            blurFactor: 0.70,
            speed: 3.00,
            zoom: 0.50
        })
    });
</script>

