<header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="/">
          <img src="/images/site-logo-dark.png" alt="Atreides Mining, Inc"  title="Atreides Mining, Inc" />
          <h1>
            Atreides Mining, Inc
          </h1>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <i class="fas fa-bars"></i>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/index.html">
              Home
            </a>
          <a class="navbar-item" href="/news.html">
            News
          </a>
          <a class="navbar-item" href="/about.html">
            About us
          </a>
        </div>
      </div>
    </nav>
  </header>
