<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="robots" content="index, nofollow">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="revisit-after" content="5 days">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="images/favicons/mstile-150x150.png">
<meta name="theme-color" content="#ffffff">

<link href="/images/logo.png" rel="icon" type="image/png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/images/favicons/android-chrome-512x512.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
<link rel="manifest" href="/images/favicons/site.webmanifest">
<link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg">


<!--SEO META-->

<meta name="title" content ="Atreides Mining, Inc">
<meta name="keywords" content="Haskell, OCaml, Software development">
<meta name="description" content="Atreides Mining, Inc company website, computer science to solve difficult technological problems. Provide practical solutions to client needs.">
<meta name="author" content="Paul Atrides">
<meta name="copyright" content="Atreides Mining, Inc">


<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="Atreides Mining, Inc">
<meta property="og:description" content="Atreides Mining, Inc company website, computer science to solve difficult technological problems. Provide practical solutions to client needs.">
<meta property="og:url" content="https://atrides-mining.com{{#stripExt}}{{url}}{{/stripExt}}">
<meta property="og:site_name" content="Atreides Mining, Inc">
<meta property="og:image" content="/images/{{image}}">
<meta property="og:image:alt" content="Atreides Mining, Inc">



<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@atrides">
<meta name="twitter:creator" content="@atrides">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="/images/{{image}}">


<link rel="stylesheet" type="text/css" href="/css/roboto/roboto.light.css">
<link rel="stylesheet" type="text/css" href="/css/roboto/roboto.regular.css">
<link rel="stylesheet" type="text/css" href="/css/roboto/roboto.bold.css">
<link rel="stylesheet" type="text/css" href="/css/aos.css">
<link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="/css/site-bulma.css" media="all">
<script type="application/javascript"  src="/js/font-awsome/all.min.js"></script>
<script src="https://browser.sentry-cdn.com/5.4.0/bundle.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" async="true" src="/js/livereload.js"></script>
