<!DOCTYPE html>
<html lang="en">

  <head profile="http://www.w3.org/2005/10/profile">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.min.css"
      media="all">
    <head profile="http://www.w3.org/2005/10/profile">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0,
        maximum-scale=1.0, user-scalable=no" />
      <meta name="robots" content="index, nofollow">

      <link rel="stylesheet" type="text/css" href="/css/bulma.min.css">
      <link rel="stylesheet" type="text/css" href="/css/bulma-site.css">
      <script type="text/javascript" async="true" src="/js/livereload.js"></script>
      <title>Example - {{title}}</title>

    </head>

    <title>Example</title>

    <body class="home">
      <header>
        <nav class="navbar">
          <div class="navbar-brand">
            <a href="/">
              <img src="/images/site-logo-dark.png" alt="Example"
                title="Example" />
              <h1>
                Example sitse
              </h1>
            </a>
            <div class="navbar-burger burger"
              data-target="navbarExampleTransparentExample">
              <i class="fas fa-bars"></i>
            </div>
          </div>

          <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="/index.html">
                Home
              </a>
              <a class="navbar-item" href="/about.html">
                About
              </a>
            </div>
          </div>
        </nav>
      </header> <main class="content" data-aos="fade-down">
        <section class="hero hero-index is-primary fog">
          <!-- featured area -->
        </section>
        <section id="news" class="section">
          <div class="container">
            <div class="content-wrapper">
              <div class="columns">
                <div class="column">
                  <div class="post-list">
                    {{#posts}}
                    <div class="post" data-aos="fade-right" data-aos-delay="100"
                      data-aos-offset="150">

                      <div class="image">
                        <a href="{{url}}">
                          {{#image}}
                          <img class="post-image"
                            src="images/{{image}}" alt="{{title}}"
                            title="{{title}}" />
                          {{/image}}
                        </a>
                      </div>
                      <div class="date">
                        {{date}}
                      </div>
                      <h1>
                        <a href="{{url}}">{{title}} </a>
                      </h1>
                      <p>
                        {{description}}
                      </p>
                      <div class="author">
                        <i class="fa fa-user"></i> {{authors}}
                      </div>

                    </div>
                    {{/posts}}
                  </div>

                </div>
                <div class="column is-one-third-desktop">
                  <div class="featured-news-list" id="do-stick"
                    data-aos="zoom-in-down" data-aos-delay="200">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <footer id="dark-footer" class="footer">
        <div class="container">

          <div class="footer-about">
            <a href="#">Example</a> - this is example site
            <br>

            &copy; 2019 Example. All rights reserved
            <br>

          </div>
        </div>
      </footer>
